<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         verbose="true"
         bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="My Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="coverage.clover.xml"/>
        <log type="coverage-text" target="php://stdout" />
    </logging>

    <coverage>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </coverage>
</phpunit>
